.container-fluid{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom,
    rgb(12, 145, 89) 20% , rgb(182, 196, 199) 10%);
}

.ui{
    padding-top: 30px;
}


/* menu sx */
.contacts-box{
    background-color: rgb(255, 255, 255);
    width: 40%;
    height: calc(100vh - 84px);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
}

.conversation-box{
    background-image: url("../img/mine.jpg");
    width: 60%;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 84px);
    overflow: hidden;
}

.my-info {
    height: 60px;
    justify-content: space-between;
    background-color: rgb(231, 227, 227);
}

.main-user{
    width: 400px;
    margin: auto;
}

.main-user img {
    width: 10%; 
    border-radius: 30px;
}

.my-button{
    display: flex;
    margin:  auto;
}

.my-button i{
    color: darkgray;
    margin-left:20px;
}


.notifications {
    padding-top:10px;
    padding-bottom:10px;
    background-color: rgb(159, 216, 248);
}

.notifications i {
    margin-right:20px;
    background-color: white;
    color: rgb(159, 216, 248);
    padding: 10px 8px;
    border-radius: 50%;
    font-size: 15px;
}

.search{
    background-color: rgb(231, 227, 227);
    padding-top:8px;
    padding-bottom:8px;
}

.search input{
    margin-left:10px;
    width: 85%;
}

.search::before {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f002";
}


.contact-list img{
    margin-top:10px;
    border-radius:50%;
    width: 12%;
}


/* menu dx */
.contact-chat-info {
    padding-top:10px;
    border-left: 1px solid grey;
    height: 60px;
    justify-content: space-between;
    background-color: rgb(231, 227, 227);
}

.main-chat-contact{
    width: 400px;
}

.main-chat-contact img {
    width: 10%;
    border-radius: 30px;
}

.last-seen{
    color: rgb(165, 164, 164);
    font-size:10px;
    margin-left:50px;
    
}

.contact-chat-button{
    display: flex;
    justify-content: right;
    margin-top: 10px;
}

.contact-chat-button i{
    color: darkgray;
    margin-left:20px;
}

 
/* area visualizzazione messaggi */
.chat-space-container{
    overflow-y:scroll;
    height: calc(100vh - 200px);

}

.sender {
    display: flex;
    justify-content: flex-end;
}

.discalimer-container{
    display: flex;
    justify-content: center;
}

.end-to-end {
    background-color:rgb(227, 233, 227);
    padding: 10px ;
    border-radius: 10px;
    margin-top:10px;
    text-align: center;
    font-size:15px;
}

.sender-text {
    background-color:lightgreen;
    padding: 10px ;
    display: inline-block;
    border-radius: 10px;
    margin-top: 10px;

}

.recipient-text {
    background-color: white;
    padding: 10px ;
    display: inline-block;
    border-radius: 10px;
    margin-top: 10px;
}

.date{
    font-size:12px;
    display: flex;
    justify-content: flex-end;
}


/* text area */
.footer-container{
    background-color: lightgray;
}

.footer-container i {
    padding: 15px;
    font-size: 25px;
    color: rgb(100, 107, 110);
}

.text-area {
    flex-grow: 1;
    margin: 10px ;
    padding-left: 15px;
}

.text-area input{
    width: 100%;
    border-radius: 10px;
}