<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Document</title>
</head>
<body>
    
<div id="app">
    
    <div class="container-fluid background">
        
        <div class="container">
            
            <div class="row ui">
                <div class="contacts-box col-6"> <!--menu sx-->
                    
                    <div class="row">
                        <div class="my-info d-flex">
                            <div class="main-user">
                                <img src="./img/avatar_io.jpg" alt=""> Nome Utente 
                            </div>
                            <div class="my-button">
                                <i class="fas fa-circle-notch"></i>
                                <i class="fas fa-comment-alt"></i>
                                <i class="fas fa-ellipsis-v"></i>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="d-flex align-items-center notifications">
                            <i class="fas fa-bell-slash"></i>
                            <div>
                                <h6>Ricevi notifiche di nuovi messaggi</h6>
                                <span><u>Attiva notifiche desktop</u></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="search">
                            <input type="text" placeholder= "Cerca o inizia una nuova chat">
                        </div>
                    </div>

                    <div class="row">  <!--lista dei contatti importata da js-->
                        <div class="contact-list" v-for="(contact,index) in contacts"
                        @click="selectedContact(index)"> 
                            <img :src="createSrc(contact)" class="round-img" alt="">                       
                            <span>{{contact.name}}</span> <hr>
                        </div>
                    </div>

                </div>
    
                
                <div class="conversation-box col-6">  <!--menu dx-->

                    <div class="row">
                        <div class="contact-chat-info d-flex" >
                            <div class="main-chat-contact">
                                <span>{{mainContact}}</span>   
                                <span class="last-seen"> Ultimo accesso oggi alle</span>
                            </div>
                            <div class="contact-chat-button">
                                <i class="fas fa-search"></i>
                                <i class="fas fa-paperclip"></i>
                                <i class="fas fa-ellipsis-v"></i>
                            </div>
                        </div>
                    </div>
                
                    <div class="row">
                        <div class="chat-space-container">

                            <div class="discalimer-container">
                                <div class="end-to-end">
                                    <i class="fas fa-lock"></i> i messaggi e le chiamate sono crittografati <br> 
                                    end-to-end. Nessuno al di fuori di questa chat, <br>
                                    nemmeno whatsapp, può leggerne o <br>
                                    ascoltarne il contenuto. Tocca per saperne di <br>
                                    più
                                </div>
                            </div>

                                   <!--area di visualizzazione dei messaggi importati da js-->
                            <div v-for="(message,index) in contacts[mainContact].messages">
                                <div class="row" v-if="textSent(message.status)">
                                    <div class="sender">
                                        <div class="sender-text">
                                            <div>
                                                {{message.text}}
                                            </div>
                                            <div class="date">
                                                {{message.date}} 
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" v-else>
                                    <div class="recipient">
                                        <div class="recipient-text">
                                            <div>
                                                {{message.text}}
                                            </div>
                                            <div class="date">
                                                {{message.date}} 
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>

                        </div>
                    
                    
                      
                        <div class="row"> <!--text area-->
                            <div class="footer-container d-flex ">
                                <i class="far fa-smile"></i>
                                <div class="text-area">
                                    <input type="text" placeholder=" Scrivi un messaggio">
                                </div>
                                <i class="fas fa-microphone"></i>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            
        </div>
    </div>

</div>


    
    
    <script src="js/script.js"></script>
</body>
</html>